<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>历史天气</title>
</head>
<body>
<a href="{% url 'home' %}" role="button">home</a>
<table border="1" align="center">
    {% load static %}
    {#<img src="{% static "test1.jpg" %}" alt="Leo头像" height=100 width=100 />#}
    <div align="center">
        <img src="{% static "test1.jpg" %}" alt="历史数据" width="45%"/>
        <img src="{% static "test2.jpg" %}" alt="差分数据" width="35%"/><br>
        <h1 align="middle">图1 历史数据 &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;图2
            差分数据</h1>

        <img src="{% static "test3.jpg" %}" alt="Autocorrelation&Partial Autocorrelation" width="45%"/>
        <img src="{% static "test4.jpg" %}" alt="验证模型" width="45%"/><br>
        <h1 align="middle">图3 Autocorrelation 和 Partial Autocorrelation &emsp;&emsp;&emsp;&emsp;&emsp;图4 验证模型</h1>

    </div>
    <caption>第三小组数据展示</caption>
    <thead>
    <tr>
        {#                <td>ID</td>#}
        <td>日期</td>
        <td>最高温度</td>
        <td>最低温度</td>
        <td>平均温度</td>
        <td>光照</td>
        <td>风力</td>
        <td>降水量</td>
        <td>天气</td>

    </tr>
    </thead>
    {% for row in test_data %}
        <tr>
            {% for i in row %}
                <td>{{ i }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
</body>
</html>