{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Six Single Dogs History Weather</title>
    <!--引入echarts.js-->
    <script src="{% static 'echarts.min.js' %}"></script>
    <link href="{% static 'img/favicon.ico' %}" rel="shortcut icon"/>
    <link href="{% static 'html/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'html/js/jquery.min.js' %}"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="{% static 'html/css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link rel="stylesheet" href="{% static 'html/css/chocolat.css' %}" type="text/css">

    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta property="og:title" content="Vide"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Trip Guide Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!---->
    <script src="{% static 'html/js/bootstrap.min.js' %}"></script>
    <!---->
    <link href='//fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300italic,300'
          rel='stylesheet' type='text/css'>
    <script src="{% static 'html/js/jquery.chocolat.js' %}"></script>
    <!--lightboxfiles-->
    <script type="text/javascript">
        $(function () {
            $('.gallery a').Chocolat();
        });
    </script>
    <!--script-->
    <!--startsmothscrolling-->
    <script type="text/javascript" src="{% static 'html/js/move-top.js' %}"></script>
    <script type="text/javascript" src="{% static 'html/js/easing.js' %}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1200);
            });
        });
    </script>

    <script src="{% static 'html/js/modernizr.custom.97074.js' %}"></script>
</head>
<body>
<div class="header">
    <div class="container">
        <div class="header-menu">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="navbar-brand logo">
                            <h1><a href="{% url 'history' %}"><span>历史</span>天气</a></h1>
                        </div>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav cl-effect-11">
                            <li class="active" style="white-space: nowrap;"><a href="{% url 'index' %}" data-hover="首页">首页</a>
                            </li>
                            <li style="white-space: nowrap;"><a href="#main" data-hover="历史天气曲线"
                                                                class="scroll">历史天气曲线</a>
                            </li>
                            <li style="white-space: nowrap;"><a href="#guides" data-hover="指南" class="scroll">指南</a>
                            <li style="white-space: nowrap;"><a href="#about" data-hover="关于" class="scroll">关于</a></li>
                            <li style="white-space: nowrap;"><a href="#tours" data-hover="旅行" class="scroll">旅行</a></li>
                            <li style="white-space: nowrap;"><a data-hover="新闻" href="#news" class="scroll">新闻</a></li>
                            </li>
                            <li style="white-space: nowrap;"><a data-hover="联系" href="#contact" class="scroll">联系</a>
                            </li>

                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="banner-section">
    <div class="container">
        <div class="banner-heder">
            <h3>历史天气查询</h3>
            {#            <h5>各个时间段</h5> #}
        </div>
        <div class="banner-grids">
            <form name="reg_testdate" action="{% url 'transfer_data' %}" method="GET">
                {% csrf_token %}
                <div class="col-md-2 banner-grid">
                    <select type="text" class="sel" name="CC">
                        <option value="">请选择城市</option>
                        <option value="beijing">北京</option>
                        <option value="tianjin">天津</option>
                        <option value="fujian">胡建</option>
                        <option value="henan">河兰</option>
                        <option value="jiangxi">江西</option>
                        <option value="neimeng">内蒙</option>
                        <option value="hubei">湖北</option>
                    </select>
                </div>
                <div class="col-md-2 banner-grid">
                    <select class="sel" name="YYYY" onchange="YYYYDD(this.value)" id="select">
                        <option value="0">请选择年份</option>
                    </select>
                </div>
                <div class="col-md-2 banner-grid">
                    <select class="sel" name="MM" onchange="MMDD(this.value)">
                        <option value="0">请选择月份</option>
                    </select>
                </div>
                <div class="col-md-2 banner-grid">
                    <select class="sel" name="DD">
                        <option value="0">请选择日期</option>
                    </select>
                </div>
                <div class="col-md-4 search">
                    <form>
                        <input type="submit" value="查询">
                    </form>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>
<!--为ECharts准备一个具备大小的Dom-->
<div id="main" style="width: 100%;height: 500%;" align="middle" ></div>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));
    // 指定图表的配置项和数据
    var option = {
        tooltip: {
            trigger: 'axis',

            {#            position: function (pt) {#}
            {#                return [pt[0], '10%'];#}
            {#            },#}
            {#            axisPointer: {#}
            {#            type: 'cross' //是否显示十字标签#}
            {#        }#}
        },
        legend: {
            left: 'left',
            data: ['最大温度', '最低温度', '平均温度'],
        },
        title: {
            left: 'center',
            text: '历史气温变化图',//Historical Temperature Change Chart
        },
        backgroundColor: '#f5f9fd',
        toolbox: {
            show: true,
            feature: {
                dataZoom: {
                    yAxisIndex: 'none'
                },
                dataView: {readOnly: false},
                magicType: {type: ['line', 'bar']},
                restore: {},
                saveAsImage: {}
            }
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: [
                {% for row in History_data %}
                    "{{ row.date }}",
                {% endfor %}
            ]
        },
        yAxis: {
            type: 'value',
            boundaryGap: [0, '10%'],
            axisLabel: {
                formatter: '{value} °C'
            },
            min: function (value) {
                return value.min - 10;
            },
            max: function (value) {
                return value.max + 20;
            }
        },
        dataZoom: [{
            type: 'inside',
            start: 0,
            end: 10
        }, {
            start: 0,
            end: 10,
            handleIcon: 'M10.7,11.9v-1.3H9.3v1.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4v1.3h1.3v-1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7V23h6.6V24.4z M13.3,19.6H6.7v-1.4h6.6V19.6z',
            handleSize: '80%',
            handleStyle: {
                color: '#fff',
                shadowBlur: 3,
                shadowColor: 'rgba(0, 0, 0, 0.6)',
                shadowOffsetX: 2,
                shadowOffsetY: 2
            }
        }],
        series: [
            {
                name: '最大温度',
                type: 'line',
                smooth: true,
                sampling: 'average',
                itemStyle: {
                    color: 'rgb(255, 70, 131)'
                },
                markPoint: {
                    data: [
                        {type: 'max', name: '最大值'},
                        {type: 'min', name: '最小值'}
                    ]
                },
                markLine: {
                    data: [
                        {type: 'max', name: '视图中最高温'}
                    ]
                },
                data: [
                    {% for row in History_data %}
                        "{{ row.tmax }}",
                    {% endfor %}
                ],
            },
            {
                name: '最低温度',
                type: 'line',
                smooth: true,
                sampling: 'average',
                itemStyle: {
                    color: 'rgb(0 ,191 ,255)'
                },
                markPoint: {
                    data: [
                        {type: 'max', name: '最大值'},
                        {type: 'min', name: '最小值'}
                    ]
                },
                markLine: {
                    data: [
                        {type: 'min', name: '视图中最低温'}
                    ]
                },
                data: [
                    {% for row in History_data %}
                        "{{ row.tmin }}",
                    {% endfor %}
                ],
            },
            {
                name: '平均温度',
                type: 'line',
                smooth: true,
                sampling: 'average',
                itemStyle: {
                    color: 'rgb(0, 205, 0)'
                },
                data: [
                    {% for row in History_data %}
                        "{{ row.tavg }}",
                    {% endfor %}
                ],
            }
        ]
    };
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>
{#<table border="1">#}
{#    <thead>#}
{#    <tr>#}
{#        <td>日期</td>#}
{#        <td>最高温度</td>#}
{#        <td>最低温度</td>#}
{#        <td>平均温度</td>#}
{#    </tr>#}
{#    </thead>#}
{#    <tbody>#}
{#    {% for row in History_data %}#}
{#        <tr>#}
{#            <td>{{ row.date }}</td>#}
{#            <td>{{ row.tmax }}</td>#}
{#            <td>{{ row.tmin }}</td>#}
{#            <td>{{ row.tavg }}</td>#}
{#        </tr>#}
{#    {% endfor %}#}
{#    </tbody>#}
{#</table>#}
<!--计算年月日函数-->
<script language="JavaScript">
    var datelist = []

    function YYYYMMDDstart() {
        MonHead = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];

        //先给年下拉框赋内容
        var y = new Date().getFullYear();
        for (var i = (y - 40); i < (y + 3); i++) //以今年为准，前40年，后2年
            document.reg_testdate.YYYY.options.add(new Option(" " + i + " 年", i));
        datelist[0] = i;
        //赋月份的下拉框
        for (var i = 1; i < 13; i++)
            document.reg_testdate.MM.options.add(new Option(" " + i + " 月", i));
        datelist[1] = i;
        document.reg_testdate.YYYY.value = y;
        document.reg_testdate.MM.value = new Date().getMonth() + 1;
        var n = MonHead[new Date().getMonth()];
        if (new Date().getMonth() == 1 && IsPinYear(YYYYvalue)) n++;
        writeDay(n); //赋日期下拉框Author:meizz
        datelist[2] = n;
        document.reg_testdate.DD.value = new Date().getDate();
    }

    if (document.attachEvent)
        window.attachEvent("onload", YYYYMMDDstart);
    else
        window.addEventListener('load', YYYYMMDDstart, false);

    function YYYYDD(str) //年发生变化时日期发生变化(主要是判断闰平年)
    {
        var MMvalue = document.reg_testdate.MM.options[document.reg_testdate.MM.selectedIndex].value;
        if (MMvalue == "") {
            var e = document.reg_testdate.DD;
            optionsClear(e);
            return;
        }
        var n = MonHead[MMvalue - 1];
        if (MMvalue == 2 && IsPinYear(str)) n++;
        datelist = n;
        writeDay(n)
    }

    function MMDD(str)   //月发生变化时日期联动
    {
        var YYYYvalue = document.reg_testdate.YYYY.options[document.reg_testdate.YYYY.selectedIndex].value;
        if (YYYYvalue == "") {
            var e = document.reg_testdate.DD;
            optionsClear(e);
            return;
        }
        var n = MonHead[str - 1];
        if (str == 2 && IsPinYear(YYYYvalue)) n++;
        writeDay(n)
    }

    function writeDay(n)   //据条件写日期的下拉框
    {
        var e = document.reg_testdate.DD;
        optionsClear(e);
        for (var i = 1; i < (n + 1); i++)
            e.options.add(new Option(" " + i + " 日", i));
    }

    function IsPinYear(year)//判断是否闰平年
    {
        return (0 == year % 4 && (year % 100 != 0 || year % 400 == 0));
    }

    function optionsClear(e) {
        e.options.length = 1;
    }
</script>
<div class="content">
    <div class="promotions" id="guides">
        <div class="container">
            <h2 class="tittle">顶级行程指南</h2>
            <span>我们的城市</span>
            <div class="promotion-grids">
                <div class="col-md-4 promation-grid">
                    <img src="{% static 'html/images/tianjin.jpg' %}" class="img-responsive" alt=""/>
                    <div class="prom-text">
                        <h4>天津</h4>
                        <div class="prom-bottom">
                            <div class="prom-left">
                                <h5> 中国 </h5>
                            </div>
                            <div class="prom-right">
                                <h5> 天津市 </h5>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <p>
                            天津地处中国北部、海河下游、东临渤海，是中国北方最大的港口城市，国家物流枢纽，北方国际航运核心区，
                            首批沿海开放城市，是中蒙俄经济走廊主要节点、海上丝绸之路的战略支点、“一带一路”交汇点、亚欧大陆桥最近的东部起点，
                            位于海河五大支流南运河、子牙河、大清河、永定河、北运河的汇合处和入海口，素有“九河下梢”“河海要冲”之称。</p>
                    </div>
                </div>
                <div class="col-md-4 promation-grid">
                    <img src="{% static 'html/images/longyan.jpg' %}" class="img-responsive" alt=""/>
                    <div class="prom-text">
                        <h4>龙岩</h4>
                        <div class="prom-bottom">
                            <div class="prom-left">
                                <h5> 中国 </h5>
                            </div>
                            <div class="prom-right">
                                <h5> 福建 </h5>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <p>龙岩是海峡西岸经济区、全国革命老区、中央苏区的重要组成部分，七个县（市、区）均为原中央苏区县，
                            是全国赢得“红旗不倒”光荣赞誉仅有的两个地方之一，享有“二十年红旗不倒”赞誉。也是福建省最重要的三条大江――闽江、九龙江、汀江的发源地。</p>
                    </div>
                </div>
                <div class="col-md-4 promation-grid">
                    <img src="{% static 'html/images/fengcheng.jpg' %}" class="img-responsive" alt=""/>
                    <div class="prom-text">
                        <h4>丰城</h4>
                        <div class="prom-bottom">
                            <div class="prom-left">
                                <h5> 中国 </h5>
                            </div>
                            <div class="prom-right">
                                <h5> 江西 </h5>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <p>丰城于东汉建安十五年（210年）置县，时名富城县，晋太康元年（280年），移治丰水西，改名丰城县；
                            丰城原为干将、莫邪宝剑藏地，故又名“剑邑”，还是唐代六大青瓷名窑之一洪州窑的故乡，拥有剑文化、瓷文化、水文化、
                            书院文化和古建筑文化等历史文化；孕育了徐孺子、雷焕、王季友、揭傒斯、邓子龙、夏征农等近现代名人。</p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="promotion-grids">
                <div class="col-md-4 promation-grid">
                    <img src="{% static 'html/images/zhengzhou.jpg' %}" class="img-responsive" alt=""/>
                    <div class="prom-text">
                        <h4>郑州</h4>
                        <div class="prom-bottom">
                            <div class="prom-left">
                                <h5> 中国 </h5>
                            </div>
                            <div class="prom-right">
                                <h5> 河南 </h5>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <p>郑州是华夏文明的重要发祥地、国家历史文化名城、国家重点支持的六个大遗址片区之一、
                            世界历史都市联盟成员。郑州历史上曾五次为都，拥有不可移动文物近万处，其中世界文化遗产2处，全国重点文物保护单位74处80项。</p>
                    </div>
                </div>
                <div class="col-md-4 promation-grid">
                    <img src="{% static 'html/images/xiangyang.jpg' %}" class="img-responsive" alt=""/>
                    <div class="prom-text">
                        <h4>襄阳</h4>
                        <div class="prom-bottom">
                            <div class="prom-left">
                                <h5> 中国 </h5>
                            </div>
                            <div class="prom-right">
                                <h5> 湖北 </h5>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <p>襄阳肇始于周宣王封仲山甫（樊穆仲）于此，已有2800多年建制历史，是楚文化、汉文化、三国文化的主要发源地。
                            历代为经济军事要地，素有“华夏第一城池”、“铁打的襄阳”、“兵家必争之地”之称。</p>
                    </div>
                </div>
                <div class="col-md-4 promation-grid">
                    <img src="{% static 'html/images/hulunbeier.jpg' %}" class="img-responsive" alt=""/>
                    <div class="prom-text">
                        <h4>呼伦贝尔</h4>
                        <div class="prom-bottom">
                            <div class="prom-left">
                                <h5> 中国 </h5>
                            </div>
                            <div class="prom-right">
                                <h5> 内蒙古 </h5>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <p>呼伦贝尔市拥有12.6万平方公里森林、10万平方公里草原、2万平方公里湿地、500多个湖泊、3000多条河流，构成了中国规模最大、
                            最为完整的生态系统，是中国优秀旅游城市、全国唯一的草原旅游重点开发地区、国家级旅游业改革创新先行区，2012年7月9日入选国家森林城市，
                            2017年12月当选中国十佳冰雪旅游城市，2018年入选国家物流枢纽承载城市。</p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--about--->
    <div class="about-section" id="about">
        <div class="container">
            <h3 class="tittle">关于我们</h3>
            <div class="about-grids">
                <div class="col-md-4 about-grid">
                    <img src="{% static 'html/images/six_single_dogs.png' %}" class="img-responsive" alt=""/>
                </div>
                <div class="col-md-8 about-grid1">
                    <div class="about-top">
                        <div class="about-left">
                            <i class="glyphicon glyphicon-list-alt" aria-hidden="true"></i>
                        </div>
                        <div class="about-right">
                            <h4>预测最新天气预报</h4>
                            <p>本站基于Spark技术，根据国家气候数据中心的历史天气数据预测未来天气信息，并及时发布准确的全球天气预报信息。
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="about-top1">
                        <div class="about-left">
                            <i class="glyphicon glyphicon-plane" aria-hidden="true"></i>
                        </div>
                        <div class="about-right">
                            <h4>获取历史上不同时期的天气信息</h4>
                            <p>方便查询世界各地的今天和历史天气，以及每周天气预报。</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="about-top1">
                        <div class="about-left">
                            <i class="glyphicon glyphicon-dashboard" aria-hidden="true"></i>
                        </div>
                        <div class="about-right">
                            <h4>最佳旅行指南</h4>
                            <p>我们将根据天气预报提供最佳旅行套餐，为您的旅行或商务旅行提供最佳选择。</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="about-top">
                        <div class="about-left">
                            <i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>
                        </div>
                        <div class="about-right">
                            <h4>天气资讯</h4>
                            <p>集合全网资源，发布最新最全的与天气有关的新闻！</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--about--->
    <!--gallery-->
    <div class="gallery" id="tours">
        <div class="container">
            <h3 class="tittle">Tours</h3>
            <div class="gallery-grids">
                <section>
                    <ul id="da-thumbs" class="da-thumbs">
                        <li>
                            <a href="{% static 'html/images/a1.jpg' %}" class="b-link-stripe b-animate-go thickbox">
                                <img src="{% static 'html/images/a1.jpg' %}" alt=""/>
                                <div>
                                    <h5>Trip Guide</h5>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="{% static 'html/images/a2.jpg' %}" class="b-link-stripe b-animate-go thickbox">
                                <img src="{% static 'html/images/a2.jpg' %}" alt=""/>
                                <div>
                                    <h5>Trip Guide</h5>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="{% static 'html/images/a3.jpg' %}" class="b-link-stripe b-animate-go thickbox">
                                <img src="{% static 'html/images/a3.jpg' %}" alt=""/>
                                <div>
                                    <h5>Trip Guide</h5>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="{% static 'html/images/a4.jpg' %}" class="b-link-stripe b-animate-go thickbox">
                                <img src="{% static 'html/images/a4.jpg' %}" alt=""/>
                                <div>
                                    <h5>Trip Guide</h5>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="{% static 'html/images/a5.jpg' %}" class="b-link-stripe b-animate-go thickbox">
                                <img src="{% static 'html/images/a5.jpg' %}" alt=""/>
                                <div>
                                    <h5>Trip Guide</h5>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="{% static 'html/images/a6.jpg' %}" class="b-link-stripe b-animate-go thickbox">
                                <img src="{% static 'html/images/a6.jpg' %}" alt=""/>
                                <div>
                                    <h5>Trip Guide</h5>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="{% static 'html/images/a7.jpg' %}" class="b-link-stripe b-animate-go thickbox">
                                <img src="{% static 'html/images/a7.jpg' %}" alt=""/>
                                <div>
                                    <h5>Trip Guide</h5>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="{% static 'html/images/a1.jpg' %}" class="b-link-stripe b-animate-go thickbox">
                                <img src="{% static 'html/images/a1.jpg' %}" alt=""/>
                                <div>
                                    <h5>Trip Guide</h5>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="{% static 'html/images/a2.jpg' %}" class="b-link-stripe b-animate-go thickbox">
                                <img src="{% static 'html/images/a2.jpg' %}" alt=""/>
                                <div>
                                    <h5>Trip Guide</h5>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </section>
            </div>
            <script type="text/javascript" src="{% static 'html/js/jquery.hoverdir.js' %}"></script>
            <script type="text/javascript">
                $(function () {
                    $('#da-thumbs > li').each(function () {
                        $(this).hoverdir();
                    });
                });
            </script>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        /*
        var defaults = {
              containerID: 'home', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
         };
        */

        $().UItoTop({easingType: 'easeOutQuart'});

    });
</script>
<a href="#" id="home" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-info">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="news-gr">
                    <img src="{% static 'html/images/p6.jpg' %}" class="img-responsive"/>
                    <h3 class="tittle1">Trip Guide</h3>
                    <p>Nam aliquam pretium feugiat. Duis sem est, viverra eu interdum ac, suscipit nec mauris.
                        Suspendisse commodo tempor sagittis! In justo est, sollicitudin eu scelerisque pretium,
                        placerat
                        eget elit. Praesent faucibus rutrum odio at rhoncus. Pel ermentum pretium. Maecenas ac lacus
                        ut
                        neque rhoncus laoreet sed id tellus. Donec justo tellus.</p>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>